body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    border: 0;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    font-family: 'Lexend', sans-serif;
  }

  #section-header{
    width: 100%;
    margin: 3vh;
  }

  #section-header h1 {
    font-size: 7vh;
    text-align: center;
    width: 100%;
    margin: 0;
    color: #b1c97a;
  }

  #section-header h4 {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    margin-top: 0;
  }

  .user-box{
    height: 5vh;
    margin-left: 3vh;
  }

  .user-box a img {
    height: 5vh;
    cursor: pointer;
  }